Doctype html
  html
     head
        title Exploring the Pug template
        p= title1
     body
        h1#myHeading This is a pug template
        h2= message
        p.firstParagraph I love this template!!!

